.add-task {
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(180, 180, 180);

    input {
        width: calc(76% - 4px);
        padding: 7px 10px;
        font-size: 18px;
        border-radius: 4px;
        border: 2px solid transparent;
        box-shadow: 0px 1px 5px rgb(85, 85, 85);
        transition: all .2s ease-in-out;

        &:focus {
            border-color: rgb(103, 98, 116);
        }
    }
}