* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
}

.todo {
    box-shadow: 0px 2px 20px rgb(119, 119, 119);
    padding: 10px 20px;
    min-height: 700px;
    width: 960px;
    position: relative;
    left: 480px;
    top: 100px;
    background-color: rgb(226, 225, 226);
    border-radius: 4px;
}

button {
    background-color: rgb(161, 161, 161);
    box-shadow: 0px 2px 10px rgb(194, 194, 194);
    border: 0;
    border-radius: 6px;
    padding: 7px 50px;
    font-size: 18px;
    margin-left: 25px;
    cursor: pointer;

    &:hover {
        background-color: rgb(103, 98, 116);
        color: white;
    }

    &:active {
        background-color: darken(rgb(103, 98, 116), 5%);
        color: white;
    }
}